language: python

# use pythons
python:
  - "3.3"
  - "3.4"

# enable services
services:
  - redis-server

# install dependencies
install:
  - pip install -r requirements.txt

# run tests
script: nosetests -c nose.cfg